.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  text-decoration: none;
  color: black;
}

.navigationContainer {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navigationLink {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 5px;
  text-decoration: none;
  color: black;
}

.navigationLink:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

/* CART ICON */

.cartLink {
  position: relative;
}

.cartIcon {
  height: auto;
  width: 40px;
}

.cartLength {
  position: absolute;
  top: -6px;
  right: -4px;
  border: 3px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: black;
  padding: 2px;
  font-weight: 700;
}

/* SEARCH FORM */

.searchForm {
  position: relative;
}

/* SEARCH BAR */

.searchInput {
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 15px 30px 15px 40px;
  font-size: 16px;
  font-weight: 600;
}

.searchIcon {
  height: auto;
  width: 18px;
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 12px;
}
